@font-face {
    font-family: 'commitmonoregular';
    src: url('/commitmono_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bungee_hairlineregular';
    src: url('bungeehairline-regular-webfont.woff2') format('woff2'),
        url('bungeehairline-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}